.header-wrap {
  background: linear-gradient(
      to top,
      rgba(43, 46, 74, 0.94),
      rgba(43, 46, 74, 0.94)
    ),
    url(../images/headbg.jpg) no-repeat center;
  background-size: cover;
  min-height: 100vh;
}

.innner-wrap {
  max-width: 1210px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  .content-center();
}

.inner-nav {
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  box-sizing: border-box;
}

.logo-nav {
}

.menu-header {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.list-menu {
  list-style-type: none;
  display: flex;
  padding-left: 0;
  margin: 0;
}

.list-menu a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  transition-duration: 0.2s;
  &:hover {
	color: @company-color;
}
}

.items-list {
  padding-left: 60px;
}

.inner-header {
  padding-top: 155px;
  padding-bottom: 155px;
}

.title {
  text-align: center;
  padding-left: 277px;
  padding-right: 277px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: 75px;
  color: #fff;
  line-height: 1.092;
  .margin-top-bot();
}

.content {
  font-family: "Raleway", sans-serif;
  font-size: 22;
  line-height: 1.5;
  color: #fff;
}

.content-header {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 80px;
  .margin-top-bot();
}

.button-find {
  height: 45px;
  width: 200px;
  display: block;
  border: none;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: inherit;
  background-color: @company-color;
  color: #fff;
  .content-center();
}

/******************SERVICES******/

