.header-wrap {
	background: linear-gradient(to top, rgba(43, 46, 74, .94), rgba(43, 46, 74, .94)), url(../images/headbg.jpg) no-repeat center;
	background-size: cover;
	height: 100vh;
}

.innner-wrap {
	max-width: 1170px;
	margin-left: auto;	
	margin-right: auto;	
}

.inner-nav {
	display: flex;	
	padding-top: 40px;	
	padding-bottom: 40px;
	box-sizing: border-box;		
}

.logo-nav {
	margin-top: auto;
	margin-bottom: auto;	
	width: 100px;	
	height: 25px;
	border:3px solid red;
}

.menu-header {
	margin-left: auto;	
	display: flex;	
	flex-direction: column;	
	justify-content: center;	
	box-sizing: border-box;	
}

.list-menu {
	list-style-type: none;
	display: flex;	
	padding-left: 0;
	margin: 0;	
}

.list-menu a {
	text-decoration: none;
	color: rgba(255, 255, 255, .75);
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 13px;	
}

.items-list {
	padding-left: 60px;
}

.inner-header {
	padding-top: 155px;
	padding-bottom: 155px;
}

.title {
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 277px;
	padding-right: 277px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-style: 75px;
	color: #fff;
	line-height: 1.092;
}

.content {
	font-family: 'Raleway', sans-serif;
	font-size: 22;
	line-height: 1.5;
	color: #fff;
}

.content-header {
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 40px;
	padding-bottom: 80px;
}
